<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" th:object="${createModel}" method="post">
    <div>
        <label>Id Blog: </label>
        <input type="text" th:field="*{idBlog}"/>
    </div>
    <div>
        <label>Title Blog: </label>
        <input type="text" th:field="*{titleBlog}"/>
    </div>
    <div>
        <label>Content Blog: </label>
        <input type="text" th:field="*{contentBlog}"/>
    </div>
    <div>
        <button type="submit"> Create</button>
    </div>
</form>
</body>
</html>