<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Add new blog</a>
<table border="1" cellpadding="5">
    <tr>
        <td>No:</td>
        <td>Id Blog:</td>
        <td>Title Blog:</td>
        <td>Delete</td>
        <td>Read</td>
        <td>Edit</td>
    </tr>
    <tr th:each="blog,loop : ${listBlog}">
        <td th:text="${loop.count}"></td>
        <td th:text="${blog.idBlog}"></td>
        <td th:text="${blog.titleBlog}"></td>
        <td><a th:href="@{/{id}/delete(id=${blog.idBlog})}">Delete</a></td>
        <td><a th:href="@{/{id}/read(id=${blog.idBlog})}">Read</a></td>
        <td><a th:href="@{/{id}/edit(id=${blog.idBlog})}">Edit</a></td>
    </tr>
</table>
</body>
</html>