<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/edit" method="post" th:object="${formEdit}">
    <div>
        <label>Id Music: </label>
        <input type="text" th:field="*{idMusic}"/>
    </div>
    <div>
        <label>Name Music: </label>
        <input type="text" th:field="*{nameMusic}"/>
    </div>
    <div>
        <label>Performance Artist: </label>
        <input type="text" th:field="*{performanceArtist}"/>
    </div>
    <div>
        <label>Music Genre: </label>
        <input type="text" th:field="*{musicGenre}"/>
    </div>
    <div>
        <label>File Path:</label>
        <input type="text" th:field="*{filePath}"/>
    </div>
    <div>
        <button type="submit" value="Save">Update</button>
    </div>
</form>
</body>
</html>