<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-4"><a href="/customer/create">Add New Customer</a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/customer/search" method="get">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Search Here" name="nameCustomer">
                <button type="submit" class="input-group-text btn-success"><i class="fas fa-search"></i> Search</button>
            </div>
        </form>
    </div>
</div>
<table class="table table-hover">
    <tr>
        <td>No:</td>
        <th>ID Customer</th>
        <th>Name Customer</th>
        <th>Birth Day Customer</th>
        <th>Gender</th>
        <th>ID Car</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>ID Type Customer</th>
        <th>delete</th>
        <th>Edit</th>
    </tr>
    <tr th:each="customer,loop : ${listCustomer}">
        <td th:text="${loop.count}"></td>
        <td th:text="${customer.idCustomer}"></td>
        <td th:text="${customer.nameCustomer}"></td>
        <td th:text="${customer.birthDayCustomer}"></td>
        <td th:text="${customer.gender}"></td>
        <td th:text="${customer.idCarCustomer}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.customerType.idCustomerType}"></td>
        <td><a th:href="@{/{id}/customer/edit(id=${customer.idCustomer})}">Edit</a></td>
        <td>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    Delete
                </button>
            </div>

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Customer</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <span>Do you want delete:</span>
                            <p th:text="${customer.nameC1ustomer}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button th:href="@{/{id}/customer/delete(id=${customer.idCustomer})}" type="submit"
                                    class="btn btn-danger" data-bs-dismiss="modal">Delete
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<div>
    <span>
            <a th:if="${listCustomer.hasPrevious()}" th:href="@{/customer/list(page = ${listCustomer.number - 1})}">Previous</a>
    </span>
    <span th:text="${listCustomer.number + 1}"></span>/
    <span th:text="${listCustomer.totalPages}"></span>
    <span>
        <a th:if="${listCustomer.hasNext()}" th:href="@{/customer/list(page = ${listCustomer.number +1})}">Next</a>
    </span>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>
</html>