<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellpadding="4">
    <tr>
        <td>No:</td>
        <td>ID:</td>
        <td>Name Product:</td>
        <td>Price:</td>
        <td>Describe Product:</td>
        <td>Producer Product:</td>
        <td>Delete</td>
        <td>Edit</td>
    </tr>
    <tr th:each="product,loop : ${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.idProduct}"></td>
        <td th:text="${product.nameProduct}"></td>
        <td th:text="${product.priceProduct}"></td>
        <td th:text="${product.describeProduct}"></td>
        <td th:text="${product.producerProduct}"></td>
    </tr>
</table>
</body>
</html>