<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/edit" th:object="${formEdit}" method="post">
    <div>
        <label>Id Blog: </label>
        <input type="text" th:field="*{idBlog}"/>    </div>
    <div>
        <label>Title Blog: </label>
        <input type="text" th:field="*{titleBlog}"/>
    </div>
    <div>
        <label>Data Blog: </label>
        <input type="text" th:field="*{dateBlog}"/>
    </div>
    <div>
        <label>Content Blog: </label>
        <input type="text" th:field="*{contentBlog}"/>
    </div>
    <div>
        <button type="submit">update</button>
    </div>
</form>
</body>
</html>