<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${listProduct}" action="/delete" method="post">
    <div>
        <label>Id Product: </label>
        <input type="text" th:field="*{nameProduct}"/>
    </div>
    <div>
        <label>Name Product: </label>
        <input type="text" th:field="*{nameProduct}"/>
    </div>
    <div>
        <label>Price Product: </label>
        <input type="text" th:field="*{priceProduct}"/>
    </div>
    <div>
        <label>Describe Product:</label>
        <input type="text" th:field="*{describeProduct}"/>
    </div>
    <div>
        <label>Producer Product:</label>
        <input type="text" th:field="*{producerProduct}"/>
    </div>
    <input type="submit" value="Save"/>
</form>
</body>
</html>